* {
    margin: 0px;
    padding: 0px;
}

#header-container {
    
    height: 50px;
    display: flex;
    padding: 10px;
}

#logo-div {
    
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 150px;
}

#search-bar-div {
    
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 80px;
}

#search-bar {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
}

#search-field {
    width: 600px;
    padding-left: 10px;
    border: none;
    outline: none;
    background-color: white;
}

#reset-button {
    border: none;
    background-color: white;
    padding-right: 5px;
}

#submit-button {
    border: none;
    background-color: white;
    padding-left: 5px;
}

#other-div {
    
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#settings-link {
    padding: 10px;
}

#apps-link {
    padding: 10px;
}

#profile-link {
    padding: 10px;
}

#search-types-div {
    
    height: 50px;
    display: flex;
    padding-left: 320px;
    align-items: flex-end;
}

.search-type {
    padding-right: 10px;
    padding-bottom: 3px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.search-types-logos {
    height: 18px;
}

#outils-div {
    padding-left: 120px;
}

#results-div {
    height: 100vh;
    padding-left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.results {
    height: 150px;
    width: 670px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 10px;
}

#results-number-div {
    height: 50px;
}

.footer {
    height: 50px;
    background-color: tan;
    padding-left: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

#footer-div {
    width: 680px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}